<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.testcontainers.jdbc.ContainerDatabaseDriver</property>
        <property name="connection.url">jdbc:tc:postgresql:14.1:///snow_world_database</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <property name="hbm2ddl.auto">create-drop</property>
        <property name="format_sql">true</property>

        <mapping class="by.zhigalko.snow.world.entity.BaseEntity"/>
        <mapping class="by.zhigalko.snow.world.entity.Item"/>
        <mapping class="by.zhigalko.snow.world.entity.EquipmentSize"/>
        <mapping class="by.zhigalko.snow.world.entity.Image"/>
        <mapping class="by.zhigalko.snow.world.entity.Snowboard"/>
        <mapping class="by.zhigalko.snow.world.entity.SnowboardBoot"/>
        <mapping class="by.zhigalko.snow.world.entity.SnowboardHelmet"/>
        <mapping class="by.zhigalko.snow.world.entity.Ski"/>
        <mapping class="by.zhigalko.snow.world.entity.SkiPole"/>
        <mapping class="by.zhigalko.snow.world.entity.SkiBoot"/>
        <mapping class="by.zhigalko.snow.world.entity.SkiHelmet"/>
        <mapping class="by.zhigalko.snow.world.entity.Cap"/>
        <mapping class="by.zhigalko.snow.world.entity.ClothesWithMembrane"/>
        <mapping class="by.zhigalko.snow.world.entity.Mask"/>
        <mapping class="by.zhigalko.snow.world.entity.Glove"/>
        <mapping class="by.zhigalko.snow.world.entity.Mitten"/>
        <mapping class="by.zhigalko.snow.world.entity.Jacket"/>
        <mapping class="by.zhigalko.snow.world.entity.Pants"/>
        <mapping class="by.zhigalko.snow.world.entity.User"/>
        <mapping class="by.zhigalko.snow.world.entity.Role"/>
        <mapping class="by.zhigalko.snow.world.entity.Cart"/>
        <mapping class="by.zhigalko.snow.world.entity.Order"/>
        <mapping class="by.zhigalko.snow.world.entity.OrderDetails"/>
    </session-factory>
</hibernate-configuration>
