<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.testcontainers.jdbc.ContainerDatabaseDriver</property>
        <property name="connection.url">jdbc:tc:postgresql:14.1:///snow_world_database</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <property name="hbm2ddl.auto">create-drop</property>
        <property name="format_sql">true</property>

        <mapping class="by.zhigalko.snowworld.entity.BaseEntity"/>
        <mapping class="by.zhigalko.snowworld.entity.Item"/>
        <mapping class="by.zhigalko.snowworld.entity.EquipmentSize"/>
        <mapping class="by.zhigalko.snowworld.entity.Image"/>
        <mapping class="by.zhigalko.snowworld.entity.User"/>
        <mapping class="by.zhigalko.snowworld.entity.Role"/>
        <mapping class="by.zhigalko.snowworld.entity.Cart"/>
        <mapping class="by.zhigalko.snowworld.entity.Order"/>
        <mapping class="by.zhigalko.snowworld.entity.OrderDetails"/>
    </session-factory>
</hibernate-configuration>
