<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>

        <mapping class="by.zhigalko.snow.world.entity.BaseEntity"/>
        <mapping class="by.zhigalko.snow.world.entity.Item"/>
        <mapping class="by.zhigalko.snow.world.entity.Equipment"/>
        <mapping class="by.zhigalko.snow.world.entity.EquipmentSize"/>
        <mapping class="by.zhigalko.snow.world.entity.Image"/>
        <mapping class="by.zhigalko.snow.world.entity.snowboard.Snowboard"/>
        <mapping class="by.zhigalko.snow.world.entity.snowboard.SnowboardBoot"/>
        <mapping class="by.zhigalko.snow.world.entity.snowboard.SnowboardHelmet"/>
        <mapping class="by.zhigalko.snow.world.entity.ski.Ski"/>
        <mapping class="by.zhigalko.snow.world.entity.ski.SkiPole"/>
        <mapping class="by.zhigalko.snow.world.entity.ski.SkiBoot"/>
        <mapping class="by.zhigalko.snow.world.entity.ski.SkiHelmet"/>
        <mapping class="by.zhigalko.snow.world.entity.clothes.Cap"/>
        <mapping class="by.zhigalko.snow.world.entity.clothes.ClothesWithMembrane"/>
        <mapping class="by.zhigalko.snow.world.entity.clothes.Glove"/>
        <mapping class="by.zhigalko.snow.world.entity.clothes.Mask"/>
        <mapping class="by.zhigalko.snow.world.entity.clothes.Mitten"/>
        <mapping class="by.zhigalko.snow.world.entity.clothes.Jacket"/>
        <mapping class="by.zhigalko.snow.world.entity.clothes.Pants"/>
        <mapping class="by.zhigalko.snow.world.entity.User"/>
        <mapping class="by.zhigalko.snow.world.entity.Role"/>
    </session-factory>
</hibernate-configuration>
